<h2 style="margin:0; font-size:15px">compo: traducciones</h2>

<div *ngFor="let traduccion of traducciones; let i = index">
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" [attr.data-bs-target]="'#Lista-'+i">{{traduccion.official}}</button>
    <div id="Lista-{{i}}" class="collapse">
        <div *ngIf="langs[i].length == 0">
            No hay resultados
          </div>
          <li *ngFor="let lang of langs[i]">
            {{ lang }}
          </li>
    </div>
</div>