<h1 ngClass="text-success">Paises</h1>

continente:<select (change)="rellenaPaises()" [(ngModel)]="continente">
  <option value="0" disabled>Selecciona Continente....</option>
  <option value="{{ continente }}" *ngFor="let continente of regiones">
    {{ continente }}
  </option>
</select>
Pais:
<select (change)="getCountryInfo()" [(ngModel)]="countrySelected">
  <option value="0">Selecciona pais....</option>
  <option value="{{ pais }}" *ngFor="let pais of paises">{{ pais }}</option>
</select>

<div class="container" *ngIf="countryInfo">
  <img style="width: 300px;" [src]="countryInfo.flags.png">
  <img style="width: 300px;" [src]="countryInfo.coatOfArms.svg">
  <h2>Datos generales:</h2>
  <ul>
    <li><b>Nombre común: </b> {{ countryInfo.name.common }}</li>
    <li><b>Nombre oficial: </b> {{ countryInfo.name.official }}</li>
    <li><b>Nombre nativo común: </b> {{ countryInfo.name.nativeName.spa.common }}</li>
    <li><b>Nombre nativo oficial: </b> {{ countryInfo.name.nativeName.spa.official }}</li>
    <li><b>Capital: </b> {{ countryInfo.capital }}</li>
    <li><b>Área: </b> {{ countryInfo.area }}</li>
    <li><b>Población: </b> {{ countryInfo.population }}</li>
  </ul>
</div>

<div *ngIf="bordersCommons">
  <h2>Datos geográficos:</h2>
  <h3>Fronteras:</h3>
  <ul>
    <li *ngFor="let item of bordersCommons">
    {{ item }}
    </li>
  </ul>
</div>

<!-- <div *ngIf="countryInfo">
  <h2 [ngStyle]="{'color':'#fabada'}">Traducciones:</h2>
  <ul>
    <li *ngFor="let item of countryInfo.translations | keyvalue">
      {{ item.key }}: {{ item.value['official'] }}
    </li>
  </ul>
</div> -->

<!-- <div [ngPlural]="valor">
<ng-template ngPluralCase="=1">
    <h1 ngClass="text-danger"> texto rojo</h1>
    <h1 ngClass="text-success">texto verde</h1>
</ng-template>
<ng-template ngPluralCase="=2" #template1>
    <h1 ngClass="text-warning"> texto amarillo</h1>
    <h1 ngClass="text-info">texto azul</h1>
</ng-template>
<ng-template ngPluralCase="=3">
    <h1 [ngStyle]="{'color':'#fABADA'}">texto rosa</h1>
    <h1 [ngStyle]="{'color':'#cacaca'}">color gris</h1>
</ng-template>


</div>
valor: <input type="text" [(ngModel)]="valor">
<br>
aqui container <br>
<div ngClass="mt-4 p-5 bg-danger text-white rounded">
    <ng-container *ngTemplateOutlet="template1"></ng-container>
</div>

<div appMiDirectiva></div>

<img appMiDirectivaEstructural width="200" height="100" src="https://0.jpg" >

<input type="text" [(ngModel)]="texto" /><br />
<h1 [ngStyle]="{ color: '#fabada' }">{{ texto }}</h1>
<h1>{{ nombreCorto }}</h1>
<h1>{{ nombreLargo }}</h1>
<h1>{{ capital }}</h1>
<h1 *ngIf="valorParaIf">valor en true</h1>
<button (click)="cambiar()">cambiar</button>
<h2>{{ valorParaIf }}</h2>
<ol>
  <li *ngFor="let frontera of fronteras">{{ frontera }}</li>
</ol>

<div [ngSwitch]="valor">
  <h1 *ngSwitchCase="1">el valor es uno</h1>
  <h1 *ngSwitchCase="2">el valor es dos</h1>
  <h1 *ngSwitchCase="3">el valor es tres</h1>
</div> -->
