<div *ngIf="countrySelected !=='0'">
  <h2 class="container mt-4" style="margin-top: 20px;" *ngIf="countrySelected !=='0'"> {{ countrySelected }}</h2>
  <div class="container mt-4" *ngIf="countryInfo.length != 0">
    <img style="height: 300px;" [src]="countryInfo.flags.png">
    <img style="height: 300px; margin-left: 50px;" [src]="countryInfo.coatOfArms.svg">
    <h2 style="margin-top: 20px;">Datos generales:</h2>
    <ul>
      <li><b>Nombre común: </b> {{ countryInfo.name.common }}</li>
      <li><b>Nombre oficial: </b> {{ countryInfo.name.official }}</li>
      <li><b>Capital: </b> {{ countryInfo.capital }}</li>
      <li><b>Área: </b> {{ countryInfo.area }}</li>
      <li><b>Población: </b> {{ countryInfo.population }}</li>
    </ul>
  </div>
  <div class="container mt-3" *ngIf="bordersCommons && countryInfo.borders ">
    <h3>Fronteras:</h3>
    <ul>
      <li *ngFor="let item of bordersCommons">
        {{ item }}
      </li>
    </ul>
  </div>
  <div class="container" style="margin-left: 0;" *ngIf="countryInfo && translations.length > 0">
    <h2>Traducciones:</h2>
      <div *ngFor="let item of translations; let i = index">
        <div class="container mt-3">
          <a
            href="#List-{{ i }}"
            class="btn btn-primary"
            data-bs-toggle="collapse"
            data-bs-placement="right"
            title="Idioma: {{ languages[i] ? languages[i] : translationsKeys[i] }}">
            {{ item.official }}
          </a>
          <div *ngIf="!loadingLangs && langs" id="List-{{ i }}" class="collapse">
            <div *ngIf="langs[i].length == 0">
              No hay resultados
            </div>
            <li *ngFor="let lang of langs[i]">
              {{ lang }}
            </li>
          </div>
        </div>
      </div>
  </div>
</div>
